:root {
    --feature-padding: 5.6rem 0;
    --feature-title-font: 3.2rem;
    --feature-subtitle-font: 1.8rem;
    --feature-margin: 0 2.4rem;
    --feature-max-width: calc(100% - 4.8rem);
}

.tv {
  
}

.feature {
  padding: var(--feature-padding);
  max-width: var(--feature-max-width);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.feature h2 {
  font-size: var(--feature-title-font);
  font-weight: 700;
}

.feature p {
  font-size: var(--feature-subtitle-font);
  margin-top: 1.6rem;
}

.feature {
    text-align: center;
  margin: var(--feature-margin);
}

.video {
    position: relative;
}

.video img {
  width: 100%;
}

.video video {
  display: inline-block;
}

.video .player {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  transform: translate(-50%, -50%);
  z-index: -1;
  overflow: hidden;
}

.details {
  margin-top: 2.4rem;
  width: 100%;
}

.details details {
  padding: 2.4rem;
  background-color: rgb(45, 45, 45);
  margin-bottom: 1rem;
  font-size: 1.8rem;
  position: relative;
  text-align: left;
  cursor: pointer;
}

.details details p {
  margin-top: 1rem;
  font-size: 1.8rem;
}

.details details > summary::marker {
  content: ""

}

.details details > summary::after {
  content: "+";
  position: absolute;
  top: 3.4rem;
  right: 2.4rem;
  transform: translateY(-50%);
  font-size: 3.2rem;
  font-weight: 100;
}

@media screen and (min-width: 600px) {
  :root {
    --feature-title-font:4.8rem;
    --feature-subtitle-font: 2.4rem;
    --feature-padding: 7.2rem 0;
  }
}

@media screen and (min-width: 960px) {
  :root {
    --feature-margin: 0 3.4rem;
  }
  .feature {
    flex-direction: row;
    text-align: left;
  }
  .feature.faq {
    flex-direction: column;
  }
  .details details {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1280px) {
  .feature.faq {
    max-width: calc( 83.33333333333334% - 9.6rem );
    margin: auto;
  }

 
}
