@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSans-Bold.woff2') format('woff2');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSans-Medium.woff2') format('woff2');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSans-Regular.woff2') format('woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/NetflixSans-Light.woff2') format('woff2');
    font-weight: 300;
  }
  
