:root {
  --hero-title-font-size: 3.2rem;
  --hero-title-font-weight: 500;
  --hero-subtitle-font-size: 1.8rem;
  --hero-form-title-font-size: 1.8rem;
  --hero-margin: 12rem 2.4rem 3.2rem 2.4rem;
  --form-padding: 0 2.4rem;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 4.8rem;
  width: 100%;
  z-index: -1;

}

.hero-wrapper img,
.hero-wrapper .bg-overlay {
  position: absolute;
  left: 0;
  top: 0;

  z-index: -1;
}

.hero-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* transform: scale(1.25) translateY(-10%); */
}

.hero-container {
    display: flex;
    flex-direction: column;
    /* gap: 1.6rem; */
    /* margin: var(--hero-margin); */
    padding: var(--hero-margin);
    margin: auto;
    width: 100%;
    max-width: var(--nav-container-max-width);

}


.bg-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: rgba(0, 0, 0, 0.4);
}

.hero-title {
    display: flex;
    flex-direction: column;
    /* gap: 1.6rem; */
}

.hero-wrapper h1 {
  text-align: center;
  font-size: var(--hero-title-font-size);
  font-weight: var(--hero-title-font-weight)
}

.hero-wrapper h3 {
  text-align: center;
  font-size: var(--hero-subtitle-font-size);
  font-weight: 400;
  /* line-height: 2.7rem; */
  margin-top: 1.6rem;
}

.hero-form h3 {
    text-align: center;
    font-size: var(--hero-form-title-font-size);
    font-weight: 400;
    line-height: 2.7rem;
    margin-top: 1.6rem;
  }

.hero-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: var(--form-padding);
  /* gap: 1.6rem; */
  margin-top: .8rem;

}

.hero-input {
  color: var(--text-color);
  line-height: 2.4rem;
  padding: 1.2rem 1.6rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4rem;
  border: 1px solid rgba(128, 128, 128, 0.7);
  width: 100%;
  max-width: 58.6rem;
  margin-top: 1.6rem;
}

.hero-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.6rem;
}

.hero-input:focus {
  border: 1px solid white;
  outline: none;
}

.hero-divider {
  width: 100%;
  height: 0.8rem;
  position: absolute;
  left: 0;
  bottom: -0.8rem;
  background-color: rgb(35, 35, 35);
}

.hero-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}


@media screen and (min-width: 600px) {
    :root {
        --hero-margin: 19.85rem 3.2rem 7.65rem 3.2rem;
        --form-padding: 0 3.2rem;
    }

    .hero-form-input {
        flex-direction: row;
        align-items: end;
        justify-content: center;

    }
  }
  
  @media screen and (min-width: 960px) {
    :root {
        --hero-margin: 28rem 3.2rem 15.55rem 3.2rem;
        --hero-title-font-size: 4.8rem;
        --hero-subtitle-font-size: 2.4rem;
        --hero-form-title-font-size: 2rem;
        --hero-title-font-weight: 900;
    }
  }
  
  @media screen and (min-width: 1280px) {
    :root {
    }
